---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="space-y-8">
		<div class="space-y-4 animate">
			<h1 class="font-medium text-3xl">Projects</h1>
			<p class="leading-relaxed">
				Coming soon — a curated list of projects.
			</p>
		</div>
	</div>
</Layout>


